<footer class="footer outer">
    <div class="inner-wide">
        {{!-- Includes the theme footer sections - partials/footer-grid.hbs --}}
        {{#if @custom.enable_popular_posts_in_footer}}
            {{> footer-grid}}
        {{else}}
            {{#if @custom.enable_tags_in_footer}}
                {{> footer-grid}}
            {{else}}
                {{#if @custom.enable_authors_in_footer}}
                    {{> footer-grid}}
                {{else}}
                    {{#if @custom.enable_about_in_footer}}
                        {{> footer-grid}}
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
        <div class="footer-bottom">
            <div class="footer-bottom-content">
                {{!-- If enabled, includes the secondary navigation menu - partials/navigation.hbs --}}
                {{#if @site.secondary_navigation}}
                    <nav class="footer-nav">
                        {{navigation type="secondary"}}
                    </nav>
                {{/if}}
                <div class="footer-info">
                    <a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
                </div>
            </div>
            {{!-- Includes the social links - partials/social-links.hbs --}}
            {{> social-links}}
        </div>
    </div>
</footer>
